<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="../assets/logo.png" alt="logo" />
      </a>
      <h1 class="ml-5">SERVITEC</h1>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-submenu nzOpen nzTitle="Principal" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Bienvenido</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Monitor</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Workplace</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Productos" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/product-list">Listar Productos</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/product-new">Agregar Productos</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Ventas" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Nueva venta</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Personal" nzIcon="form">
        <!--<i class="fas fa-users"></i>-->
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/employee-list">
              <i class="fas fa-list"></i> Listar Personal</a
            >
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/employee-new">
              <i class="fas fa-user-plus"></i> Crear Nuevo Personal</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
